.container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    justify-content: space-around;

}
button{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    min-width: 65px;
    font-size: 14px;
    background-color: aqua;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(15, 54, 54);
    font-size: 14px;
}
