#wrap{
    width: 250px;

}
button{
    cursor: pointer;
}
.btn{
    display: none;
    width: 25px;
    background: #333;
    
}
.btn.active {
    display: flex;
}

.people1{
    display: flex;
    width: 50px;
    background: #3ba5cf;
}
.character_film{
    display: none;
}
.character_film .film{
    display: flex;
    width: 100px;
    background-color: #3ba5cf;
}
img{
    width: 100px;

}
figcaption{
    font-size: 15px;
    color: blue;
}